nav {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div.top-newsletter {
    background-color: #1D5E55;
    height: 30px;
    width: 100%;
    text-align: center;
    line-height: 30px;
    box-sizing: border-box;
    a {
        color: white;
        text-decoration: none;
        font-weight: bold;
    }
}



div.nav-wrapper {
    background-color: white;
    height: 60px;
    line-height: 60px;
    width: 100%;

    padding: 10px 20px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

img.brand-logo {
    height: 60px;
    width: 60px;
    float: left;
    margin-left: 15%;
    color: #1D5E55;
}

a.brand-logo {
    line-height: 60px;
    float: left;
    text-decoration: none; /* Odstranění podtržení */
    color: #1D5E55; /* Zelená barva (můžete upravit podle potřeby) */
    font-weight: bold; /* Text bude tučný */
}

.right-navbar a {
    height: 50px; /* Výška odkazu */
    text-decoration: none; /* Odstranění podtržení */
    color: rgb(31, 101, 80); /* Barva textu */
    font-weight: bold; /* Tučný text */
    display: flex; /* Umožní zarovnání obsahu v odkazu */
    align-items: center; /* Vertikální zarovnání obsahu */
}

.cart-count {
    background-color: #F4B400;
    color: white;
    height: 12px;
    border-radius: 50%;
    padding: 2px 2px;
    font-size: 12px;
}

.right-navbar-small {
    display: none; /* Skryjte malou hlavičku */
}

.right-navbar-large {
    display: none; /* Skryjte velkou hlavičku */
}

@media (max-width: 1138px) {
    .right-navbar-large {
        display: none; /* Skryjte velkou hlavičku */
    }

    .right-navbar-small {
        float: right; /* Pro zarovnání divu napravo */
        width: 30%; /* Šířka divu */
        display: flex; /* Umožní použít flexbox pro zarovnání */
        justify-content: flex-end; /* Zarovnání obsahu k pravé straně */
        gap: 20px; /* Mezery mezi odkazy */
        padding-right: 20%; /* Odsazení od pravého okraje */
        
    }

}

@media (min-width: 1138px) {
    .right-navbar-small {
        display: none; /* Skryjte velkou hlavičku */
    }

    .right-navbar-large {
        float: right; /* Pro zarovnání divu napravo */
        width: 50%; /* Šířka divu */
        display: flex; /* Umožní použít flexbox pro zarovnání */
        justify-content: flex-end; /* Zarovnání obsahu k pravé straně */
        gap: 20px; /* Mezery mezi odkazy */
        padding-right: 15%; /* Odsazení od pravého okraje */
        font-size: 17px; /* Velikost textu */
        font-weight: bold;
        color: #1D5E55;

       a {
            line-height: 60px;
            float: left;
            text-decoration: none; /* Odstranění podtržení */
            color: #1D5E55; /* Zelená barva (můžete upravit podle potřeby) */
            font-weight: bold; /* Text bude tučný */
        }
    }
}

/* Styly pro dropdown */
.dropdown {
    display: none; /* Skryto ve výchozím stavu */
    position: absolute; /* Absolutní pozice pro umístění pod nadřazenou položku */
    top: 50%; /* Umístění pod položku */
    width:100%;
    left: 0;
    background-color: #ffffff; /* Barva pozadí dropdown */
    padding: 0;
    z-index: 10000; /* Zajištění, že bude nad ostatními elementy */
}


.dropdown-container {
    position: relative; /* Aby dropdown byl umístěn správně */
}

.dropdown li {
    margin: 0; /* Odstranění mezer mezi položkami dropdown */
    list-style-type: none;
    padding-left: 10px;
}

/* Zobrazení dropdown při najetí myší */
.dropdown-container:hover .dropdown {
    display: block; /* Zobrazit dropdown */
}

/* Efekt hover na položky */
.dropdown-container:hover > a {
    background-color: #ffffff; /* Změna barvy pozadí při najetí */
}


/* Třída pro zobrazení dropdown */
.show {
    display: block; /* Zobrazit dropdown */
}


.arrow {
    margin-left: 0; /* Odsazení šipky od textu */
    transition: transform 0.3s; /* Animace pro přechod šipky */
}

.show .arrow {
    transform: rotate(180deg); /* Otočení šipky, když je dropdown otevřený */
}






div.footer-wrapper {
    background-color: white;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 70px;
    padding-bottom: 20px;

    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
}

div.footer-top {
    border-top: 1px solid #666968;
    border-bottom: 1px solid #666968;
    margin-bottom: 20px;
    gap: 40px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;

    flex-wrap: wrap;

}

.footer-top ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-basis: calc(20% - 10px); /* 4 sloupce na řádek s mezerou */
    min-width: 100px; /* Minimální šířka sloupce */
}
.footer-top h3 {
    font-size: 18px;
    margin-bottom: 10px;
}
.footer-top ul li {
    margin-bottom: 5px;
}
.footer-top ul li a {
    color: #666;
    text-decoration: none;
}


div.footer-bot {
    flex: 1;
    gap: 20px;
    list-style-type: none;
    gap: 40px;
}


img.icons-footer {
    height: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
}

div.footer-links a {
    color:#666;
    text-decoration: none;
    float: left;
    margin-right: 30px;
    gap: 40px;
}






/* body */
body {
    background-color: white;
    font-family: 'Arial', sans-serif;
}


div.svetlehnedy {
    background-color: #26543A;
    
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}


.sedy {
    background-color: #ded9d9;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px; /* Mezera mezi jednotlivými ikonami */
}

.sedy ul {
    list-style-type: none;
    text-align: center;
}

.sedy li {
    margin-top: 5px;
    padding: 0;
}

.sedyimg {
    height: 40px;
    width: 40px;
}

.sedyp {
    font-size: 13px;
}


#searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
}


.searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border-radius: 25px;
    background-color: #f1f1f1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 500px;
    width: 100%;
}

.search-input {
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    width: 100%;
    outline: none;
    background-color: transparent;
}

.search-button {
    border: none;
    background-color: #f1f1f1;
    cursor: pointer;
    padding: 10px;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    transition: background-color 0.3s ease;
}

.search-button img {
    width: 20px;
    height: 20px;
    filter: invert(1);
}

.search-button:hover {
    background-color: #cbbbb6;
}


.categories {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    max-width: 1300px;
    padding: 0;
}

.categories ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.categories li {
    display: flex;
    flex-direction: column; /* Vytvoří sloupcové rozložení */
    align-items: center;
    text-align: center;
    margin: 0 20px;
}

.categories img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

.categories a {
    font-size: 14px;
    color: #4caf50; /* Barva odkazu */
    text-decoration: none;
}

.categories a:hover {
    text-decoration: underline;
}







.nadpisy {
    text-align: center; /* Zarovná text na střed */
}


#tucnenadpisy{
    font-weight: bold;
    font-size: 34px;
    padding-top: 40px;
    margin: 0;
}

#textpodnadpisem {
    font-size: 24px;
}

.podnadpisem {
    display: flex;
    align-items: center;
    justify-content: center;

    ul {
        display:flex;
        align-items: center;
        justify-content: center;
        list-style-type: none;
        padding: 0;
        margin: 0;
        justify-content: space-around;
    }

    li {
        display: flex;
        flex-direction: column; /* Vytvoří sloupcové rozložení */
        align-items: center;
        text-align: center;
        margin: 0 20px; 
    }

    img {
        width: 250px;
        height: auto;
        
    }

    a {
        color: #000000; /* Barva odkazu */
        text-decoration: none;
        font-weight: bold;
        font-size: 20px;
    }
    a:hover {
        text-decoration: underline;
    }
}







.nadpisvsubscription {
    display: flex;
    justify-content: center;
    align-items: center;

    h6 {
        font-weight: bold;
        font-size: 24px;
        margin: 0;
        padding-right: 20px;
    }

    #textvedlenadpisu {
        color: #555;
        margin: 0;
    }
}

.subscription-form {
    align-items: center;
    justify-content: center;
    background-color: #f0f9f9;
    border-radius: 8px;
    padding: 20px;
    max-width: 65%;
    height: 300px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);


    form {
        align-items: center;
        justify-content: center;
        max-width: 60%;
    }
    
    form input {
        margin-bottom: 10px;
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
    }
    
    form button {
        background-color: #4caf50;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
    }
    
    form button:hover {
        background-color: #45a049;
    }
    
    label {
        font-size: 14px;
        margin-top: 10px;
    }
    
    label a {
        color: #4caf50;
        text-decoration: none;
    }
    
    label a:hover {
        text-decoration: underline;
    }

}



.growing-revolution {
    background-color: #f2d7d7; /* Světlejší pozadí */
    padding: 40px 20px;
    text-align: center;
    margin-bottom: 70px;
}

.growing-revolution h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.stats-container {
    display: flex;
    justify-content: space-around; /* Rozložení s rovnoměrným rozestupem */
    flex-wrap: wrap; /* Pro zajištění přizpůsobení na menších obrazovkách */
}

.stat-item {
    flex: 1; /* Rozšíření na rovnoměrnou šířku */
    max-width: 200px; /* Maximální šířka pro každý prvek */
    margin: 10px; /* Rozestup mezi prvky */
    text-align: center; /* Centrování textu */
}

.stat-item img {
    width: 50px; /* Šířka ikonky */
    height: auto; /* Automatická výška pro udržení proporcí */
    margin-bottom: 10px; /* Rozestup mezi ikonou a textem */
}

.stat-item h3 {
    font-size: 28px;
    color: #4caf50; /* Zelená barva pro čísla */
    margin: 0; /* Žádný okraj */
}

.stat-item p {
    color: #555; /* Tmavě šedá barva pro popis */
    font-size: 16px;
    margin: 0; /* Žádný okraj */
}
